build/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
compile_commands.json

*.obj
*.pdb
*.ilk
*.exe
*.lib
*.exp
*.idb
*.ipdb
*.iobj
*.vcxproj*
*.sln

X:/

third_party/

.vscode/*.db
.vscode/ipch/
